In [1]:
import pandas as pd

In [3]:
file_path = r"C:\Users\Preeti\Downloads\iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
new_iris_df = iris_df.drop(['class'],axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
output_file_path = r"C:\Users\Preeti\Desktop\class folder\Cryptocurrencies/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

In [7]:
file_path = r"C:\Users\Preeti\Desktop\class folder\Cryptocurrencies\Untitled Folder\shopping_data.csv"
df_shopping = pd.read_csv(file_path)
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [8]:
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [10]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [11]:
for column in df_shopping.columns:
    print(f"Column{column} has {df_shopping[column].isnull().sum()} null values")

ColumnCustomerID has 0 null values
ColumnCard Member has 2 null values
ColumnAge has 2 null values
ColumnAnnual Income has 0 null values
ColumnSpending Score (1-100) has 1 null values

In [12]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [13]:
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [14]:
df_shopping.drop(columns=['CustomerID'], inplace=True)
df_shopping.head()

C:\Users\Preeti\anaconda\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [16]:
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
df_shopping['Card Member'] = df_shopping['Card Member'].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [18]:
# Saving cleaned data
file_path = r"C:\Users\Preeti\Desktop\class folder\Cryptocurrencies\Untitled Folder/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)